/* Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/* Utility - can use these classes whereever i feel like(more generalized styling rules)*/
.container {
	max-width: 900px;
	margin: auto;
	overflow: auto;
	padding: 0 20px;
}

/* Main Styling */
html,
body {
	font-size: 15px;
	font-family: 'Roboto', sans-serif;
	line-height: 1.5em;
}

h1,
h2,
h3 {
	padding-bottom: 20px;
}

p {
	margin: 10px 0;
}

/* Navbar */
#navbar {
	background: black;
	color: #fff;
	overflow: auto;
}

#navbar a {
	text-decoration: none;
	color: whitesmoke;
}

#navbar h1 {
	float: left;
	padding-top: 20px;
}
#navbar ul {
	float: right;
	list-style: none;
}

#navbar ul li {
	float: left;
}

#navbar ul li a {
	display: block;
	padding: 20px;
}

#navbar ul li a:hover,
#navbar ul li a.current,
.btn:hover {
	color: rgb(199, 199, 199);
	background: rgb(71, 68, 68);
}

/* showcase */

#showcase {
	position: relative;
	background: url(../images/Hotel\ intro.jpg) no-repeat center center/cover;
	height: 500px;
}

#showcase-content {
	text-align: center;
	color: whitesmoke;
	text-shadow: 2px 2px 5px black;
	padding: 125px;
}

.btn {
	background-color: black;
	box-shadow: 2px 2px 15px white;
	padding: 20px;
	border: none;
}

.btn a {
	text-decoration: none;
	color: whitesmoke;
	font-weight: bold;
}

.gridcontainer {
	display: grid;

	grid-template-columns: repeat(
		6,
		1fr
	); /* i was doing repeat(6, auto)
	Auto - This value allows the columns to automatically adjust their 
	width based on their content. Each column will take up as much 
	width as necessary to accommodate the content it contains.
	- Because of this when i was putting H3 and a para of lorem25 inside grid item 2 then 
	the 1st item vanished becuz got overpowered by the auto*/
	grid-template-rows: 2fr 1fr;
}

.griditem1 {
	grid-column: 1 / span 3;
	grid-row: 1 / span 1;
	height: 500px;
	overflow: auto;
	background: url(../images/Hotel\ side.jpg) no-repeat center center/ cover;
}

.griditem2 {
	grid-column: 4 / span 3;
	grid-row: 1 / span 1;
	height: 500px;
	overflow: auto;
	background: url(../images/Hotel\ History.jpg) no-repeat center center/cover;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: whitesmoke;
	text-shadow: 1px 1px 2px black;
}

.griditem3 {
	grid-column: 1 / span 2;
	grid-row: 2 / span 1;
	background-color: black;
	/* below code is repeating - 
	make and use a utility class in the  grid items */
	color: whitesmoke;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 30px;
	overflow: auto;
}
.griditem4 {
	grid-column: 3 / span 2;
	grid-row: 2 / span 1;
	background-color: black;
	color: whitesmoke;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 30px;
	overflow: auto;
}
.griditem5 {
	grid-column: 5 / span 2;
	grid-row: 2 / span 1;
	background-color: rgb(0, 0, 0);
	color: whitesmoke;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 30px;
	overflow: auto;
}

section div:nth-child(n + 3):hover {
	color: rgb(199, 199, 199);
	background: rgb(71, 68, 68);
	/* earlier i was using .gridcontainer:nth-child(n+3):hover 
	and the hover was not working but when i replaced it with section div:nth.. 
	it started hovering effect*/
}

/* Icons styling */
.icon-hotel {
	color: #ffffff;
	font-size: 2rem;
	padding-bottom: 1.5rem;
}

.footer {
	text-align: center;
	font-size: 0.7rem;
	color: whitesmoke;
	background-color: #000;
	padding: 10px 0;
}
